/* Created by Arian Stolwijk <http://www.aryweb.nl> */

.MooDialog {
	position: fixed;
  overflow: hidden;
	width: 300px;
	height: 100px;
	top: 50%;
	left: 50%;
	margin: -150px 0 0 -150px;
	padding: 10px;
	z-index: 50000;
	background: #f6f6f6;
	color: #111;
	border-radius: 7px;-moz-border-radius: 7px;-webkit-border-radius: 7px;
  box-shadow: 1px 1px 5px rgba(0,0,0,0.8);
	-moz-box-shadow: 1px 1px 5px rgba(0,0,0,0.8);
	-webkit-box-shadow: 1px 1px 5px rgba(0,0,0,0.8);
}

.MooDialogTitle {
	padding-top: 30px;
}

.MooDialog .content {
	height: 100px;
  overflow: auto;
}

.MooDialog .title {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	padding: 3px 20px;

	background: #ccc;
  background-image: -webkit-gradient(
    linear,
    left top,
    left bottom,
    color-stop(0.1, rgb(212,212,212)),
    color-stop(0.6, rgb(184,184,184))
  );
  background-image: -moz-linear-gradient(
    center top,
    rgb(212,212,212) 10%,
    rgb(184,184,184) 60%
  );
	border-bottom: 1px solid #aaa;
	font-weight: bold;
	text-shadow: 1px 1px 0 #ccc;
	color: #333;
	border-radius: 7px 7px 0 0;-moz-border-radius: 7px 7px 0 0;-webkit-border-radius: 7px 7px 0 0;
}

.MooDialog .close {
	position: absolute;
	width: 30px;
	height: 30px;
	top: -15px;
	left: -15px;

	background: url(dialog-close.png) no-repeat;
	display: block;
	cursor: pointer;
}

.MooDialog .buttons {
	margin: 0;
	padding: 0;
	border: 0;
	background: none;
	text-align: right;
}

.MooDialog iframe {
	width: 100%;
	height: 100%;
}

.MooDialog .textInput {
	width: 200px;
	float: left;
}

.MooDialog .MooDialogAlert,
.MooDialog .MooDialogConfirm,
.MooDialog .MooDialogPrompt,
.MooDialog .MooDialogError {
	padding-left: 40px;
	min-height: 40px;
	background: url(dialog-warning.png) no-repeat;
}

.MooDialog .MooDialogConfirm,
.MooDialog .MooDialogPromt {
	background: url(dialog-question.png) no-repeat;
}

.MooDialog .MooDialogError {
	background: url(dialog-error.png) no-repeat;
}
